<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325153039237-9a5skegoqmsmf6rdc3jptook5qv3jgoo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325153039237-9a5skegoqmsmf6rdc3jptook5qv3jgoo</string>
	<key>API_KEY</key>
	<string>AIzaSyB9kaOdeQKrahXcHfVoLWqcHc5RSqA2Ubw</string>
	<key>GCM_SENDER_ID</key>
	<string>325153039237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wallet.user</string>
	<key>PROJECT_ID</key>
	<string>walletapp-ccb86</string>
	<key>STORAGE_BUCKET</key>
	<string>walletapp-ccb86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325153039237:ios:1de485b06e8e1162a75aec</string>
</dict>
</plist>